/* #region  home style*/
.textPresentation {
  font-family: sans-serif;
  text-align: center;
}

/* #endregion */

/* #region scroll styles*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  background-color: #808080;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* #endregion */

/* #region skill content*/

.skill-card img {
  width: clamp(40px, 10vw, 60px);
}

.gradient-container {
  background: linear-gradient(-45deg, #1f4e80, #1b6b88, #0e263f) !important;
  background-size: 400% 400%;

  z-index: 10 !important;
  opacity: 2 !important;
}

img {
  pointer-events: none;
}

.skill-card {
  /* default style for card */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
}

.skill-card:hover {
  /* raise the card on hover */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  scale: 1.05;
  transition: 0.2s ease-in-out;
}

.skill-card-content{


  /* default style for card */
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  background-color: #111827;

  transition: 0.2s ease-in-out;
}

.skill-card-content:hover {
  /* raise the card on hover */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);

  background-color: #36e7f7;
  color: black;
  transition: 0.2s ease-in-out;
}

/* #endregion */

/* #region languages component*/
.bg-gradient-languages {
  background: linear-gradient(-45deg, #391f80, #1b6b88, #150e3f);
  background-size: 400% 400%;
}

.languages-card {
  /* default style for card */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
}

.languages-card:hover {
  /* raise the card on hover */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  scale: 1.05;
  transition: 0.2s ease-in-out;
}

.languages-card-content {
  /* default style for card */
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  background-color: #111827;

  transition: 0.2s ease-in-out;
}

.languages-card-content:hover {
  /* raise the card on hover */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);

  background-color: #2a33b3;
  transition: 0.2s ease-in-out;
}
/* #endregion */


/* #region framework */
.bg-gradient-frameworks {
  background: linear-gradient(to right, #5c0f0f, #b9281d, #3f0e0e);
  background-size: 280% 280%;
}

.frameworks-card {
  /* default style for card */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
}

.frameworks-card:hover {
  /* raise the card on hover */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  scale: 1.05;
  transition: 0.2s ease-in-out;
}

.frameworks-card-content {
  /* default style for card */
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  background-color: #111827;

  transition: 0.2s ease-in-out;
}

.frameworks-card-content:hover {
  /* raise the card on hover */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);

  background-color: #b32a2a;
  transition: 0.2s ease-in-out;
}

/* #endregion framework */



.circle-gradient {
  background: linear-gradient(135deg, #344280 0%, #3d2555 100%);
  --size: 450px;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(rgba(55, 235, 169, 0.85), #5b37eb);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  opacity: 0.4;
  position: absolute;
color:linear-gradient(to top, #09203f 0%, #23333f 100%);
}

/* #region Define the animation keyframes */
@keyframes circle-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle-animation{

    /* Add animation properties */
    animation: circle-animation 12s linear infinite;

}

/* #endregion*/



